/*#body {
    height: 1000px;


}*/

/*Weird colors in some classes for development purposes*/

#topstart,
#bottom {
    position: page;
    left: 0;
    right: 0;
    height: 50%;
}


#topstart {    
    top: 0;
    background-color: orange;

    height: 20em;
    align-items: center;
    justify-content: center;
    display: flex;
}

#top 
{
    margin-top: 0px;
    top: 0em;
    /*word-break: normal;*/
    /*background-color: orange;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    text-align: center;
    /*display: flex;*/
}

div.excerpt p 
{
    word-wrap: break-word;
}

#bottom {
    bottom: 0;
    background-color: green;
    /*display: inline-block;*/
    width: 100%;
    
}


#left 
{
    
    /*background-color: red;*/
    float: left;
    /*margin-left: 20%;*/
    width: 50%;
    /*display: inline-block;*/

    align-items: center;
    justify-content: center;
    display: flex;
}

#right 
{
    background-color: blue;
    
    align-items: center;
    justify-content: center;
    display: flex;
    
    /*width: 50%;*/
}

.buttons 
{
    text-transform: uppercase;
    text-align: center;
    line-height: 200%;
    font-size: 3em;
    /*margin: 1em;*/
    border: 8px solid #555f70;
    border-radius: 9px;
    background-color: #555f70;
    width: 10em;

    align-items: center;
    justify-content: center;
    
    /*display:inline-block;*/
    
}

.btn 
{
    
}

div
{
    /*display: inline-block;*/
}

div Button 
{
    /*-display: block; */
}