#body {
    height: 1000px;


}

#top,
#bottom {
    position: page;
    left: 0;
    right: 0;
    height: 50%;
}

#top {    
    top: 0;
    background-color: orange;
}

#bottom {
    bottom: 0;
    background-color: green;
    display: inline-block;
    width: 100%;
}


#left 
{
    background-color: red;
    float: left;
    width: 40%;
    /*display: inline-block;*/
}

#right 
{
    background-color: blue;
    
    /*width: 50%;*/
}

.btn 
{
    display:inline-block;
}

div
{
    /*display: inline-block;*/
}

div Button 
{
    /*-display: block; */
}